{:mvn/repos {"maven-public" {:url "https://nexus.polecat.com/repository/maven-public"}
             "maven-releases" {:url "https://nexus.polecat.com/repository/maven-releases"}}
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/jsonista {:mvn/version "0.2.7"}
        org.apache.kafka/kafka-streams {:mvn/version "2.8.0"}
        scicloj/tablecloth {:mvn/version "7.014"}
        io.github.nextjournal/clerk {:mvn/version "0.15.957"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-4"}
        scicloj/notespace {:mvn/version "4-alpha-22"}
        org.scicloj/clay {:mvn/version "2-alpha38"}
        aerial.hanami/aerial.hanami {:mvn/version "0.18.0"}
        ;; Emacs kindly deps
        applied-science/darkstar {:git/url "https://github.com/applied-science/darkstar/"
                          :sha "541a3ff36065c59e92fe6aa61e41a4385ba6f893"}
        ;; End emacs kindly deps

        }
 :aliases {:cider-nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.32.0"}
                                      mx.cider/tools.deps.enrich-classpath {:mvn/version "1.15.5"}}
                         :extra-paths ["nrepl"]}}}
